<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | LiteraryBoom</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <header class="headSec">
      <h1>Literary Boom</h1>
      <ul>
        <li><%= link_to "Home", "/" %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Help", help_path %></li>
      </ul>
    </header>
    <div class="container">
      <%= yield %>
    </div>
    <footer class="foot">
      <h1>Im the Footer</h1>
    </footer>
  </body>
</html>
